@import "../../assets/vars";

.timer {
  width: 200px;
  height: 100px;
  display: flex;
  background: #696969;
  position: relative;

  top: 50px;
  margin-bottom: 30px;
 .timer__texts {

   text-align: center;
   color: white;
   position: absolute;
   .timer__input {
      > input {
        left: 0;
       background: $bg-color;
       color: #fff;
       border: 1px solid $border-color;
        height: 30px;
        width: 200px;
        outline: none;

      }
     }
     span {
       position: absolute;
       left: 30%;
   }
 }
  .timer__btns {
    width: 100%;
    border-top: 2px solid $border-color;
    position: absolute;
    bottom: 0;
    > button{
      font-size: 20px;
      margin-left: 10px;
      padding: 5px 10px;
      background: none;
      border: none;
      color: $border-color;
      transition: color .3s;
      &:nth-child(1) {
        margin-right: 30px;
        margin-left: 0;
      }
      &:hover {
        color: white;
      }
    }
  }
}
